body {
  background-color: #8AA4AB;
  color: #162607
}

table, th, td {
  background-color: #C4D5C5;
  border: 2px solid #162607;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
}

.t2 {
  background-color: #6F8E74;
  /*border: 2px solid #162607;*/
  /*border-collapse: collapse;*/
  border: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
}

.div1 {
  border: solid 1px #162607;
  text-align: left;
  background-color: #6F8E74;
  padding: 4px;
}

/*.div2 {*/
/*  border: solid 1px #162607;*/
/*  text-align: left;*/
/*  background-color: #E3DED9;*/
/*}*/

h1, h2, h3 {
  text-align: center;
}

ul {
  text-align: left;
}